<h1> New Debt </h1>
<%= form_for [@user, @debt] do |f| %>

	<%= f.label :lender %>
	<%= f.text_field :lender %><br>

	<%= f.label :description %>
	<%= f.text_field :description %><br>

	<%= f.label :category %>
	<%= f.text_field :category %><br>

	<%= f.submit class: "btn btn-success btn-lg user-button" %>
<% end %>
