<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
				<%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.debts.any? %>
      <% @user.debts.each do |debt| %>
				<%= debt.description %>
				<%= debt.category %>
				<%= debt.lender %>
				<%= debt.is_fulfilled %>
				<%= link_to 'Edit', edit_user_debt_path(@user, debt) %>
				<%= link_to 'Delete', user_debt_path(@user, debt), method: :delete %>
			<% end %>
    <% end %>
  </div>
</div>
